@font-face{
 font-family:'sa-digital-number';
 src: url('../fonts/digital-numbers-font-gh-pages/dist/DigitalNumbers-Regular.ttf');
}

@font-face{
 font-family:'Komoda-heading';
 src: url('../fonts/Komoda/Komoda.otf');
}

body{
  background: url("../images/backgroundImage.jpg");
}

.title
{
  color:#f5f5f5;
  font-family:'Komoda-heading';
  font-size: 150px;
  width: 600px;
  margin: auto;
  padding-left: 280px;
  padding-top: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.8;
}

.wrapper{
  margin: auto;
  margin-top: 50px;
  border:  3px solid #fff!important;
  border-radius: 15px!important;
  padding: 10px;
  width: 500px;
}

.timeMeasurePicker
{
  position: absolute;
  left:0px;
  top:5px;
}

span
{
  display:inline-block;
  font-size: 15px;
  padding: 3px 3px;
  text-align: center;
  border-radius:5px;
  text-decoration: none;
  float: left;
  margin-left: 6px;
  font-weight: bold;
}

span:hover
{
  cursor:pointer;
}

.clockIcon
{
  height: 65px;
  width: 75px;
  background:url("../images/calendar.png");
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  margin-top: 15px;
}

.clockIcon:hover
{
  cursor:pointer;
}

.clocktime
{
  width: auto;
  font-family:'sa-digital-number';
  font-size: 60px;
  text-shadow:#80cbc4 2px 3px 5px !important;
  color:#00897b;
  font-weight: bold;
  border:  3px solid #fff!important;
  border-radius: 10px!important;
  padding: 10px;
  position: relative;
}

i
{
  font-size: 15px;
  display: block;
  position: absolute;
  right: 5px;
  bottom: 16px;
  font-style: normal;
}
